<article{{ attributes.addClass('event teaser') }}>
  <a href="{{ url }}" aria-label="{{ label.0 }}">
      <div class="image">
        {{ content.field_image }}
        <div class="blurb">
            {{ label }} - {{ content.field_date }}
        </div>
      </div>
  </a>
</article>
